@font-face {
  font-family: "iconfont"; /* Project id 3601417 */
  src: url('iconfont.woff2?t=1661002905502') format('woff2'),
       url('iconfont.woff?t=1661002905502') format('woff'),
       url('iconfont.ttf?t=1661002905502') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pengyouquan:before {
  content: "\e73b";
}

.icon-QQkongjian:before {
  content: "\e666";
}

